<div class="page-header">
  <div class="page-header-right">
    <%= new_resource_button %>
  </div>

  <h2><%= localised_collection_name %></h2>
</div>

<%= render 'table' %>
<%= render 'pagination' %>