/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";

@import "font-awesome";

// Push content down when the navbar has a fixed position
// -----------------------------------------------------------------------------
@media (min-width: 980px) {
  body {
    padding-top: $navbarHeight + $gridGutterWidth;
  }
}

// Support the use of nav tabs inside page-header elements
// -----------------------------------------------------------------------------
.page-header-tabbed {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;

  h1, h2 {
    padding-bottom: 17px;
  }
}

// Make sure anything nested with the page heading lines up vertically
// -----------------------------------------------------------------------------
.page-header-right {
  float: right;
  margin: $baseLineHeight * 0.5 0;

  form {
    display: inline-block;

    .input-append {
      margin-bottom: 0;
    }
  }
}