<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to application_name, root_path, :class => 'brand' %>

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <ul class="nav pull-right">
      <% if user_signed_in? %>
        <%= tab_to destroy_user_session_path, :method => :delete do %>
          <i class="icon-signout"></i> Sign out
        <% end %>
      <% else %>
        <%= tab_to new_user_session_path do %>
          <i class="icon-signin"></i> Sign in
        <% end %>
      <% end %>
      </ul>

      <form class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Search">
      </form>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <!-- primary navigation -->
        </ul>
      </div>
    </div>
  </div>
</div>
